<script>
function quickTest(){
    
    var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
    var theUrl = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    xmlhttp.open("POST", theUrl);
    xmlhttp.setRequestHeader("Authorization", "Bearer f6b89a6cd29c3cf7c9bc78d7d8a6bb73ccef2b0f75273b3075cc58d03e3eadb0", "Content-Type", "application/json" );
    xmlhttp.send(JSON.stringify({ "widget": {
  		"name": "A Visib",
  		"description": "Wid",
  		"kind": "visible"
  	   }
    }));
        
         xmlhttp.onreadystatechange = function () {
          if (xmlhttp.readyState === 4) {
              var response = xmlhttp.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              alert(obj); 
              document.getElementById('output').innerHTML = obj;
          }
          else{
              var response = xmlhttp.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              alert(obj); 
              document.getElementById('output').innerHTML = obj;
              
          }
      }

}


</script>


<script>

 function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
} 

var cname = "access_token";
var access_token = getCookie(cname);
var authorization = "Bearer "+access_token;
console.log("auth from cookies " + authorization);
    
</script>
<h1>New Widget</h1>
<!--WIDGETS ----------------------------------------------------------------------------------------------------------------->
<p>Create Private Widget</p>
<script>



//create Widgets JS---------------------------------------------------------------------------------------------
function createPrivateWidget() {
  var name = document.getElementById("name").value;
  var description = document.getElementById("description").value;
//alert(name+description);
  function call(){
    alert("Your access token is = "+authorization);
    var url = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Authorization", authorization, 'Content-Type', 'application/json');
    xhr.send(JSON.stringify({
	"widget": {
		"name": name,
		"description": description,
		"kind": "hidden"
	}
}));
  
  xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
          }
          else{
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
              
          }
      }
  }
  call();
}
</script>

<!--Create Private Widget HTML---------------------------------------------------------->
<form id="form" onsubmit="return false;">
    <input  type="text" id="name" />
    <br>
    <input  type="text" id="description" />
    <br><br>
    <input  type="submit" onclick="createPrivateWidget();" />
</form>
<br><br><br>

<p>Created Private Widget Responce</p>
<br>
<div class="panel panel-info">

<p id="output"></p>
</div>
</div>


<!--Create Public Widget JS--------------------------------------------------------->
<script>
function createPublicWidget() {
  var namePub = document.getElementById("namePub").value;
  var descriptionPub = document.getElementById("descriptionPub").value;
//alert(namePub+description);
  function callPub(){
    alert("Your access token is = "+authorization);
    var url = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Authorization", authorization, 'Content-Type', 'application/json');
    xhr.send(JSON.stringify({
	"widget": {
		"name": namePub,
		"description": descriptionPub,
		"kind": "visible"
	}
}));
  
  xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
          }
          else{
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
              
          }
      }
  }
  callPub();
}
</script>

<!--Create Public Widget HTML---------------------------------------------------------->
<form id="form" onsubmit="return false;">
    <input  type="text" id="namePub" />
    <br>
    <input  type="text" id="descriptionPub" />
    <br><br>
    <input  type="submit" onclick="createPublicWidget();" />
</form>
<br><br><br>

<p>Created Public Widget Responce</p>
<br>
<div class="panel panel-info">

<p id="output"></p>
</div>
</div>

<!--WIDGETS ----------------------------------------------------------------------------------------------------------------->
<script>

 function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
} 

var cname = "access_token";
var access_token = getCookie(cname);
var authorization = "Bearer "+access_token;
console.log("auth from cookies " + authorization);
    
</script>
<script>
//create Widgets JS---------------------------------------------------------------------------------------------
function createPrivateWidget() {
  //initial values
  var name = document.getElementById("name").value;
  var description = document.getElementById("description").value;
  var privateWidget = document.getElementById('privateWidget').checked;
  var widgetPrivacy;
  var privateWidgetUrl = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
  
  //indicating if the widget creatin is private or public
   if(privateWidget === false){
      widgetPrivacy = "visible";
   }
   else if (privateWidget === true){
     widgetPrivacy = "hidden";
   }
   else{
     console.log("Something went wrong with the widget's privacy checkbox. It's value is = "+widgetPrivacy);
   }

  //AJAX call
  $.ajax({
      type: "POST",
      dataType: "json",
      url: privateWidgetUrl ,
      data: {
        "widget": {
          "name": name,
          "description": description,
          "kind": widgetPrivacy
  	   }
      },
      beforeSend: function(xhr) {
          xhr.setRequestHeader("Authorization", authorization, "Content-Type","application/json")
      }, success: function(data){
            document.getElementById('output').innerHTML = "<span style='color: lime; font-size:28px; padding: 25px 25px 25px 25px;'>Congratulations you've created a widget. "+
            data.data.widget.name+"'s id is " +data.data.widget.id+"."+"</span>";
            console.log(data);
      },
      error: function(err) {
          document.getElementById('output').innerHTML = "<span style='color: red; font-size:28px; padding: 25px 25px 25px 25px;'>Failure to create a widget due to the following error - "+
          err.responseJSON.message+"."+"</span>"; 
          console.log("Error");
          console.log(err.responseJSON.message);
      }
  });
}
</script>


<!--Create Private Widget HTML---------------------------------------------------------->
<form class="form" onsubmit="return false;">
  <div class="form-group">
    <label for="exampleInputEmail1">Widget Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Your Widget Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Description">
    <small id="nameHelp" class="form-text text-muted">Make it short and sweet.</small>
  </div>
  <!--add option for both visible and private-->
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="privateWidget">
    <label class="form-check-label" for="exampleCheck1">Make it Private?</label>
  </div>
  <button type="submit" onclick="createPrivateWidget();" class="btn btn-primary">Submit</button>
</form>



<br>

</span>
</div>

<div class = "panel panel-primary">
   <div class = "panel-heading">
      <h3 class = "panel-title">Responce Message</h3>
   </div>
   <div id="output"></div>
</div>

<p>In Progress</p>
<!--Create Public Widget JS--------------------------------------------------------->
<script>
function createPublicWidget() {
  var namePub = document.getElementById("namePub").value;
  var descriptionPub = document.getElementById("descriptionPub").value;
//alert(namePub+description);
  function callPub(){
    alert("Your access token is = "+authorization);
    var url = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Authorization", authorization, 'Content-Type', 'application/json');
    xhr.send(JSON.stringify({
	"widget": {
		"name": namePub,
		"description": descriptionPub,
		"kind": "visible"
	}
}));

  xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
          }
          else{
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
              
          }
      }
  }
  callPub();
}
</script>

<!--Create Public Widget HTML---------------------------------------------------------->
<form id="form" onsubmit="return false;">
    <input  type="text" id="namePub" />
    <br>
    <input  type="text" id="descriptionPub" />
    <br><br>
    <input  type="submit" onclick="createPublicWidget();" />
</form>
<br><br><br>

<p>Created Public Widget Responce</p>
<br>
<div class="panel panel-info">

<p id="output"></p>
</div>
</div>



<%= link_to 'Back', widgets_path %>
