<script>
function quickTest(){
    
    var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
    var theUrl = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    xmlhttp.open("POST", theUrl);
    xmlhttp.setRequestHeader("Authorization", "Bearer f6b89a6cd29c3cf7c9bc78d7d8a6bb73ccef2b0f75273b3075cc58d03e3eadb0", "Content-Type", "application/json" );
    xmlhttp.send(JSON.stringify({ "widget": {
		"name": "A Visib",
		"description": "Wid",
		"kind": "visible"
	}
        
        }));
        
        
         xmlhttp.onreadystatechange = function () {
          if (xmlhttp.readyState === 4) {
              var response = xmlhttp.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              alert(obj); 
              document.getElementById('output').innerHTML = obj;
          }
          else{
              var response = xmlhttp.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              alert(obj); 
              document.getElementById('output').innerHTML = obj;
              
          }
      }

}


</script>
<input  type="submit" onclick="quickTest();" />

<h1>New Widget</h1>
<!--WIDGETS ----------------------------------------------------------------------------------------------------------------->
<script>

 function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
} 

var cname = "access_token";
var access_token = getCookie(cname);
var authorization = "Bearer "+access_token;
console.log("auth from cookies " + authorization);
    
</script>
<p>Create Private Widget</p>
<script>

//create Widgets JS---------------------------------------------------------------------------------------------
function createPrivateWidget() {
  var name = document.getElementById("name").value;
  var description = document.getElementById("description").value;
//alert(name+description);
  function call(){
    alert("Your access token is = "+authorization);
    var url = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Authorization", authorization, 'Content-Type', 'application/json');
    xhr.send(JSON.stringify({
	"widget": {
		"name": name,
		"description": description,
		"kind": "hidden"
	}
}));
  
  xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
          }
          else{
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
              
          }
      }
  }
  call();
}
</script>

<!--Create Private Widget HTML---------------------------------------------------------->
<form id="form" onsubmit="return false;">
    <input  type="text" id="name" />
    <br>
    <input  type="text" id="description" />
    <br><br>
    <input  type="submit" onclick="createPrivateWidget();" />
</form>
<br><br><br>

<p>Created Private Widget Responce</p>
<br>
<div class="panel panel-info">

<p id="output"></p>
</div>
</div>


<!--Create Public Widget JS--------------------------------------------------------->
<script>
function createPublicWidget() {
  var namePub = document.getElementById("namePub").value;
  var descriptionPub = document.getElementById("descriptionPub").value;
//alert(namePub+description);
  function callPub(){
    alert("Your access token is = "+authorization);
    var url = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Authorization", authorization, 'Content-Type', 'application/json');
    xhr.send(JSON.stringify({
	"widget": {
		"name": namePub,
		"description": descriptionPub,
		"kind": "visible"
	}
}));
  
  xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
          }
          else{
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
              
          }
      }
  }
  callPub();
}
</script>

<!--Create Public Widget HTML---------------------------------------------------------->
<form id="form" onsubmit="return false;">
    <input  type="text" id="namePub" />
    <br>
    <input  type="text" id="descriptionPub" />
    <br><br>
    <input  type="submit" onclick="createPublicWidget();" />
</form>
<br><br><br>

<p>Created Public Widget Responce</p>
<br>
<div class="panel panel-info">

<p id="output"></p>
</div>
</div>



<!-- Trigger/Open The Modal END----------------------------------------------------------------- -->
<p>Sign In</p>
<script>
var authCreateURL = "https://showoff-rails-react-production.herokuapp.com/oauth/token"
var authorization = "Bearer b530f9ad13a061b36aa342b255608e18960db09cfd977cab8c1de9a0f8226024";
//Sign in user-------------------------------------------------------------------------------------------------------------------
function signin2() {

  var password = document.getElementById("password").value;
  var email = document.getElementById("email").value;

  function call2(){
    var url = "https://showoff-rails-react-production.herokuapp.com/api/v1/widgets";
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Authorization", "Bearer 1477634114484bdf7d527208fd9c2bc0e2b7c02fac4fdeab4141257bcc87ed7e", "Content-Type", "application/json");
    xhr.send('{"widget": {"name": "A Visible Widget3","description": "Widgett 2","kind": "hidden"}');
  
  xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
              alert(obj);
          }
          else{
              var response = xhr.responseText;
              var obj = JSON.stringify(response); //JSON.parse(response); 
              console.log(obj); 
              document.getElementById('output').innerHTML = obj;
              alert(obj);
          }
      }
  }
  call2();
}
</script>


<!-- Trigger/Open The Modal BEGIN----------------------------------------------------------- -->
<!-- Button to open the modal login form -->
<button onclick="document.getElementById('id02').style.display='block'">Signin</button>

<!-- The Modal -->
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate" action="./">
    <div class="imgcontainer">
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" id="email"  name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="password"  name="password" required>
      


      <button type="submit" onclick="signin2();">Signin</button>
       <!--<input  type="submit" onclick="changeUserPassword();" />-->
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>
<script>
// Get the modal
var modal = document.getElementById('id02');


// When the user clicks anywhere outside of the modal, close it

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>



<%= link_to 'Back', widgets_path %>
